/.git/
/.idea/
/.vscode/
/docs/
/example/
/test/
/node_modules/
.gitignore
.npmignore
.prettierrc
.editorconfig
.eslintrc.js
.travis.yml
CHANGELOG.md
webpack.config.js
jestconfig.json
tslint.json
tsconfig.json
note.md
*.log
